<?xml version="1.0"?>
<configuration>
  <configSections />
  <connectionStrings>
    <add name="ThinkLoud" connectionString="Data Source=nvjpzpvp4o.database.windows.net,1433;Initial Catalog=ThinkLoud;Persist Security Info=True;User ID=thinkloud;Password=Nad324!!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="Publisher Reporting Tool" />
    <add key="Version" value="0.9.51.31.hotfix_F - PRE RELEASE" />
    <add key="Company" value="Adkins Software Development" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx" />
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>